<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adzu.bfarmobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bfar_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bfar_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.adzu.bfarmobile.entities.FirebaseInit"
        android:fullBackupContent="true">
        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".activities.SignupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>